streamlit
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
python-dotenv
Pillow
faiss-cpu
unstructured
pdfminer.six
pytesseract
PyMuPDF
"unstructured[pdf]"
pip install --upgrade pip
